



.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.dark-2{
    color:#474747;
}
.primary-text{
    color:  #FD6E0A;
}
.btn-primary{
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #FD6E0A;
    padding: 18px 36px;
    border-radius: 5px;
    border: none;
     cursor: pointer;

}

nav ul li {
    list-style: none;
    margin-right: 51px;
    
    
}
nav li a{
    text-decoration: none;
    font-size: 20px;

}
nav ul{
    display: flex;
    align-items: center;
   
}
.header{
   background-image: url(images/developer.png) , url(images/header_bg.png);
   background-repeat: no-repeat;
   background-position: top left , bottom right;


}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.baner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 12px 230px;
    
}
.greeting{
    font-weight: 600;
    font-size: 45px;

}
.title{
    font-weight: bold;
    font-size: 80px;
}

.baner-content{
    width: 585px;
    height: 356px;
   

}
.banar-image{
    width: 584px;
    height: 676;
}

.about{
    background-color: #FFF8F3;
    border-radius: 18px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px ;
  


}


.about-items{
    display: inline-block;
    justify-content: space-around;
    margin: 0 18px;
}
.about-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.about-details{
    font-size: 18px;
    color: #757575;
}
.item-description{
    font-weight: bold;
    color: black;
}
.item-title{
    font-size: 20px;
    color:#757575 ;
}
.skills{
    text-align: center;
    margin-top: 130px;
}
.skill-container{
    display: flex;
    gap: 20px;
  margin-top: 22px;

}
.skill-all{
    padding: 30px;
    box-shadow: 0 6px 50px 0 #868484;
    margin-top: 33px;
}
    


.resume-container{
    display: flex;
    margin-top: 84px;
}
.resume-column{
    padding: 71px ;
}

.experience-description{
    font-size: 18px;
    color: #757575;
    gap: 20px;
}
.resume-column-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    gap: 20px;
}
.experience-subtitle{
    font-size: 20px;
    font-weight: 600;
    color:#757575 ;
    gap: 20px;
}
.secondary-bg{
    background-color: #FFF8F3;
}
footer{
    display: flex;
    margin-top: 130px;
    gap: 100px;
    
}
.footer-column{
 padding: 130px 230px ;
}
.btn-primary :hover{
    background-color: aqua;
}
footer input[type="text"]{
    height: 64px;
    border-radius: 5px;
    background-color: aliceblue;
    
}





